{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_products' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search products">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i> <!-- Magnifying glass icon -->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div style="height: 20px;"></div>  <!-- add blank space below the search bar-->


    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <a href="{% url 'product_detail' product.product_id %}" style = "text-decoration:none;">
                <div class="card h-100">
                    <img src="{{ product.image }}" class="card-img-top" alt="{% if product.image %}{{ product.name }}{% else %}No Image Available{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <p class="card-text">Average Rating: {{ product.average_rating|default:"No reviews yet"|floatformat:1 }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <p>No product yet :(</p>
        {% endfor %}
    </div>



    <!-- Pagination -->
    <div style="text-align: center; margin-top: 20px;">
        <span style="display: inline-block;">
            {% if products.has_previous %}
                <a href="?q={{ request.GET.q }}&page=1" style="text-decoration: none; padding: 5px 10px; margin: 0 5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f8f8f8; color: #333;">&laquo; first</a>
                <a href="?q={{ request.GET.q }}&page={{ products.previous_page_number }}" style="text-decoration: none; padding: 5px 10px; margin: 0 5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f8f8f8; color: #333;">previous</a>
            {% endif %}
    
            <span style="font-weight: bold; background-color: #007bff; color: #fff; text-decoration: none; padding: 5px 10px; margin: 0 5px; border: 1px solid #007bff; border-radius: 4px;">{{ products.number }}</span>
    
            {% if products.has_next %}
                <a href="?q={{ request.GET.q }}&page={{ products.next_page_number }}" style="text-decoration: none; padding: 5px 10px; margin: 0 5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f8f8f8; color: #333;">next</a>
                <a href="?q={{ request.GET.q }}&page={{ products.paginator.num_pages }}" style="text-decoration: none; padding: 5px 10px; margin: 0 5px; border: 1px solid #ccc; border-radius: 4px; background-color: #f8f8f8; color: #333;">last &raquo;</a>
            {% endif %}
        </span>

    </div>
    

{% endblock %}
