{% extends 'main/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card h-100">
                <!--<img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{product.product_id}}</small>
                    <!--<small class="text-body-secondary">{{product.product_owner}}</small> -->
                </div>
            </div>
        </div>
        {% empty %}
        <p> No product yet :(</p>
        {% endfor %}
    </div>
    <br/><br/><br/><br/><br/>
{% endblock %}
