{% extends 'main/base.html' %}

{% block title %}Import Excel{% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <input type="radio" id="product" name="import_type" value="Product" checked="checked">
        <label for="product">Product<label><br>
        <input type="radio" id="review" name="import_type" value="Review">
        <label for="review">Review<label><br>
    </div>
    <input type="file" name="excel_file">
    <button type="submit">Import</button>
</form>
{% endblock %}