{% extends 'main/base.html' %}

{% block title %}Product Page{% endblock %}

{% block content %}
<!-- detail.html -->
<h1>{{ product.name }}</h1>
<p>Price: <br>{{ product.price }}</p>
<p>Sold: {{ product.sold_count }}</p>

<h2>Ratings and Reviews</h2>
<ul>
    {% for review in reviews %}
    <div class="review" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; background-color: #f9f9f9;">
        <div class="rating">
            <strong>Rating:</strong> {{ review.rating }}
        </div>
        <div class="comment">
            <strong>Comment:</strong> {{ review.comment }}
        </div>
        <div class="username">
            <strong>Username:</strong> {{ review.username.username }}
        </div>
        <!-- You can add additional information from the review model here -->
    </div>
    {% empty %}
    <p> No review and rating yet :(</p>
    {% endfor %}
</ul>

{% endblock %}