<!DOCTYPE html>
<html lang="en">
<head>

    <title>Product Detail</title>
</head>
<body>
    <div>
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
    </div>

    <div>
        <h2>Ratings and Reviews:</h2>
        <ul>
            {% for review in reviews %}
            <li>
                <p>Rating: {{ review.rating }}</p>
                <p>Comment: {{ review.comment }}</p>
                <p>By: {{ review.user_id.username }}</p>
            </li>
            {% empty %}
            <li>No reviews available for this product.</li>
            {% endfor %}
        </ul>
    </div>



</body>
</html>
